


.text-div {
  text-align: center;
  margin-bottom: 20px;
}
.custom-tab-group {
  max-width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  margin-top: 10px;
}

