.card-custom {
  width: 100%;
  background-color: #f2e6ff; /* Light purple color */
  /* border-radius: 10px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 15%;
}


.card-body {
  padding: 20px;
}
.custom-gray-card {
  background-color: #dde2ed; /* Change to your desired gray color */
}

