<!-- <app-sidebar> -->
<div style="padding: 10px; display: flex; justify-content: space-between;">
  <h5 style="display: inline-block; margin: 0;">BULK EMAIL VERIFICATION</h5>
  <button type="button" class="btn btn-primary">Upgrade</button>
  <!-- <i class="fa-solid fa-trophy"></i> -->
</div>

<div class="card card-custom">
  <div class="card-body">
    <h4 class="ml-4" style="display: inline-block ; margin-left: 20%;">Premium feature</h4>
    <button type="button" class="btn btn-primary" style="margin-left: 50%;">View Plans</button>
    <div style="margin-left: 20%;">
      Upgrade your plan to unlock Bulk Email Verification and verify upto 100,000 Emails
    </div>
  </div>
</div>
<br>
  <br>

  <div class="card" style="max-width: 70%; margin: 0 auto;">
    <div class="card-body">
      <p class="card-text">Verify Emails in bulk using our multilayer Verification process that includes syntax check, MX check, and SMTP authentication.</p>
      <div class="card custom-gray-card" style="max-width: 90%; height: 170px; margin: 0 auto; margin-top: 35px;" onclick="document.getElementById('fileInput').click();"> <!-- Adjust height as needed -->
        <!-- Trigger file input click when the inner card is clicked -->
        <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
          <h5>Upload or drop a file here</h5>
          <input id="fileInput" type="file" class="form-control-file" style="margin-top: 10px; display: none;">
          <label for="fileInput" style="cursor: pointer;"> <!-- Show pointer cursor and use label to trigger file input click -->
            <button type="button" class="btn btn-primary" style="margin-top: 10px;">Upload</button>
          </label>
          <div style="font-size: 0.9em; color: #676464; margin-top: 10px;"> <!-- Adjust margin-top as needed -->
            bulk email Verification supports .XLS, CSV and TXT file formats and can process up to 10,000 emails per upload
          </div>
        </div>
      </div>
    </div>
  </div>






<div style="display: flex; justify-content: center;">
  <button></button>
  {{num}}
</div>
