
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="margin-right: auto; color: #ed0808;">Email Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" style="margin-left: 37px; color: white;" href="#">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff;" href="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff;" href="#">Resource</a>
      </li>
    </ul>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" style="margin-left: 862px; margin-right: 15px; color: #fff;" href="#">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" style="color: #fff;" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="color: #ed0808;">Email Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color: white;" href="#">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff;" href="pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff;" href="#">Resource</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" style="margin-right: 15px;">
        <a class="nav-link" style="color: #fff;" href="#">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" style="color: #fff;" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav> -->
