<h1>
  rock paper scissor
</h1>
<div style="display: flex; align-items: center; justify-content: center;">

  {{test}}
<button  style="margin-left: 20px;" id="Rock" class="btn btn-primary" (click)="rps('Rock')">Rock</button>
<button  class="btn btn-danger" id="Paper" (click)="rps('Paper')">Paper</button>
<button  class="btn btn-secondary"  id="Scissor" (click)="rps('Scissor')">Scissor</button>
<br>
{{test}}
{{result}}


</div>
<!-- <div style="display: flex; align-items: center; justify-content: center;">

  {{test}}

</div> -->
